<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Hello, Welcome to the rails app that starts and stops EC2 instances!</h1>

    <div class ="dropdown">
      <br/>
      <button class= "btn btn-primary dropdown-toggle" type = "button" data-toggle="dropdown">Select number of instances<span class ="caret"></span></button>
      <ul class = "dropdown-menu">
        <% (1..1000).each do |number_of_instance| %>
          <p> <%= number_of_instance %> </p>
        <% end %>
      </ul>
    </div>

    <div class = "dropdown">
      <br/>
      <button class= "btn btn-primary dropdown-toggle" type = "button" data-toggle="dropdown">Select Action<span class ="caret"></span></button>
      <ul class = "dropdown-menu">
        <li> Start </li>
        <li> Terminate </li>
      </ul>
    </div>
</body>
</html>
