<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    li.menu-item
    {
      color: blue;
    }
  </style>

</head>
<body>
  <h1><b><center>Hello, Welcome to the nutrition info page!</center></b></h1>
  <br/>
  <label> Pick a food item</label>
  <div class="container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown menu-item"><a href="http://localhost:3000/nutrition/show?q=Eggs">Eggs</a></li>
        <li class="dropdown menu-item"><a href="#">Milk</a></li>
        <li class="dropdown menu-item"><a href="#">Bread</a></li>
        <li class="dropdown menu-item"><a href="#">Eggnog         </a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, feta 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, edam 	</a></li>
        <li class="dropdown menu-item"><a href="#">Queso cotija 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, brie 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, blue 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, gouda 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, swiss 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, cream 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, colby 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, brick 	</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, tilsit </a></li>
        <li class="dropdown menu-item"><a href="#">Dulce de Leche </a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, romano </a></li>
        <li class="dropdown menu-item"><a href="#">Butter, salted </a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, fontina</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, gjetost</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, gruyere</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, caraway</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, cheddar</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, monterey</a></li>
        <li class="dropdown menu-item"><a href="#">Egg, dried, yolk</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, cheshire</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, muenster</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, limburge</a></li>
        <li class="dropdown menu-item"><a href="#">Egg, dried, white</a></li>
        <li class="dropdown menu-item"><a href="#">Sour cream, light</a></li>
        <li class="dropdown menu-item"><a href="#">Egg, dried, whole</a></li>
        <li class="dropdown menu-item"><a href="#">Whey, fluid, acid</a></li>
        <li class="dropdown menu-item"><a href="#">Whey, dried, acid</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, roquefort</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, provolone</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, camembert</a></li>
        <li class="dropdown menu-item"><a href="#">Whey, fluid, sweet</a></li>
        <li class="dropdown menu-item"><a href="#">Whey, dried, sweet</a></li>
        <li class="dropdown menu-item"><a href="#">Cheese, neufchatel</a></li>
        <li class="dropdown menu-item"><a href="#">Milk, fluid, sheep</a></li>
        <li class="dropdown menu-item"><a href="#">Ice cream sandwich</a></li>
        <li class="dropdown menu-item"><a href="#">Butter, without salt</a></li>
        <li class="dropdown menu-item"><a href="#">Sour cream, fat free</a></li>

      </ul>
    </div>
  </div>




</body>
</html>
