<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    li.menu-item
    {
      color: blue;
    }
  </style>
</head>
<body>
  <h1><b><center>Hello, Welcome to the nutrition info page!</center></b></h1>
  <br/>
  <label> Pick a food item</label>
  <div class="container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li class="dropdown"><a href="http://localhost:3000/nutrition/show?q="> </a></li>
      </ul>
    </div>
  </div>
</body>
</html>
